.feedback {
	background-color: #f1f1f3;
	padding: 22px 0 50px;

	@media (width >= 768px) {
		padding: 53px 0 88px;
	}

	&__heading {
		margin-bottom: 28px;

		@media (width >= 768px) {
			margin-bottom: 37px;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
	}
}

.legend {
	font-size: 11px;
	font-style: normal;
	font-weight: 600;
	line-height: 18px; /* 163.636% */
	letter-spacing: 0.22px;
	text-transform: uppercase;
}

.rating {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 32px;

	@media (width >= 768px) {
		margin-bottom: 43px;
	}

	&__legend {
		margin-bottom: 3px;
	}

	&__selected {
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: 36px; /* 128.571% */
	}

	&__wrapper {
		display: flex;
		align-items: center;
		gap: 8px;
	}
}

.stars {
	position: relative;
	font-size: 30px;
	display: inline-block;

	//width: 112.5px;

	&::before {
		content: '★★★★★';
		display: block;
	}

	&__items {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: row-reverse;
		overflow: hidden;
	}

	&__item {
		position: absolute;
		width: 0;
		height: 0;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}

	&__label {
		flex: 0 0 20%;
		height: 100%;
		cursor: pointer;
		color: #d7d7e2;
	}

	&__label::before {
		content: '★';
		display: block;
		transition: color 0.3s ease 0s;
	}

	&__item:checked,
	&__item:checked ~ &__label {
		color: #ffb400;
	}

	&__label:hover,
	&__label:hover ~ &__label,
	&__label:checked ~ &__label:hover {
		color: #fd7;
	}
}

.fields {
	display: flex;
	flex-direction: column;
	gap: 12px;

	&__legend {
		margin-bottom: 12px;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 12px;

		@media (width >= 768px) {
			flex-direction: row;
			width: 100%;

			> * {
				flex: 1; /* Дает каждому элементу равное пространство */
				margin-right: 10px; /* Отступ между элементами */
			}

			> *:last-child {
				margin-right: 0; /* Убирает отступ у последнего элемента */
			}
		}
	}

	&__select {
		padding: 17px 16px 18px 14px;
		border: #2d1aa7 1px solid;
	}

	&__textarea {
		padding: 17px 15px;
		width: 100%;
		height: 200px;
		border-radius: 10px;
		border: 1px solid #ededf1;
		background: #fff;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 15px; /* 107.143% */
		resize: none;

		@media (width >= 768px) {
			max-height: 146px;
		}
	}

	&__textarea::placeholder {
		opacity: 1;
	}
}

.choices {
	width: 100%;
	margin-bottom: 0;

	&__inner {
		border: 1px solid #ededf1;
		border-radius: 10px;
		background: #fff;
	}

	&__item {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__placeholder {
		opacity: 1;
		color: #777;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
	}

	&__list[aria-expanded] {
		border-radius: 6px;
		background: #fff;
		box-shadow: 0 8px 60px 0 rgb(0 0 0 / 7%);
		border: none;
	}

	&__list {
		.is-selected {
			background-color: #f1f1f3;
			display: flex;
			align-items: stretch;
		}

		.is-selected::before {
			content: '';
			height: 100%;
			width: 7px;
			background-color: var(--main-blue);
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	&__list--single {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.submit-btn {
	margin-top: 14px;
	width: 100%;

	@media (width >= 768px) {
		max-width: 133px;
		margin-top: 17px;
	}
}
