:root {
	--container-width: 1920px;
	--container-padding: 20px;
	--font: 'Onest', 'Roboto', sans-serif;
	--page-bg: #f8f8fa;
	--text-color: #202326;
	--text-color-second: #777;
	--main-blue: #2d1aa7;
	--laptop-size: 768px;
	--tablet-size: 320px;
	--mobile-size: 599px;
}
