.ad {
	background-color: #f1f1f3;

	&__wrapper {
		max-width: 1000px;
		display: block;
	}

	&__figure {
		display: flex;
		flex-direction: column;
		gap: 18px;
		padding: 20px 0 44px;
		margin: 0 auto;
		max-width: 610px;

		@media (width >= 768px) {
			padding: 87px 0 73px;
		}
	}

	&__img {
		width: auto;

		@media (width >= 768px) {
			width: 100%;
			object-fit: cover;
			max-height: 246px;
		}
	}

	&__figcaption {
		color: var(--text-color);
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 18px; /* 150% */
	}

	&__link {
		text-decoration: underline;
		color: var(--main-blue);
	}
}
