.conclusion {
	padding: 30px 0 50px;

	@media ('min-width: 768px') {
		padding: 50px 0 80px;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 9px;

		@media ('min-width: 768px') {
			gap: 17px;
		}
	}

	&__p {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 21px */
		letter-spacing: 0.14px;

		@media ('min-width: 768px') {
			font-size: 16px;
			line-height: 160%; /* 25.6px */
			letter-spacing: 0.16px;
		}
	}
}
