.header {
	&__row {
		padding: 16px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media ('min-width: 768px') {
			padding: 18px 0;
			gap: 20px;
		}
	}

	&__nav {
		display: none;

		@media ('min-width: 768px') {
			width: 100%;
			display: flex;
			justify-content: center;
			align-content: center;
		}
	}

	&__ul {
		display: flex;
		width: 100%;
		max-width: 327px;
		justify-content: space-between;
		align-content: center;
	}

	&__li {
		.submenu {
			display: none;
			position: absolute;
			padding: 14px 26px 17px 15px;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 13px;
			border-radius: 6px;
			background: #fff;
			box-shadow: 0 18px 60px 0 rgb(0 0 0 / 5%);

			a {
				color: var(--text-color);
				text-decoration: none;
			}
			a:hover {
				color: var(--main-blue);
			}
		}
	}

	&__li:hover,
	.submenu {
		.submenu {
			display: flex;
		}
	}

	&__li:nth-child(1) > &__link::after,
	&__li:nth-child(2) > &__link::after {
		content: url('../img/arrow.svg');
	}

	&__li:nth-child(1) > &__link:hover::after,
	&__li:nth-child(2) > &__link:hover::after {
		content: url('../img/arrow.svg');
		transform: rotate(180deg);
	}

	&__link {
		text-decoration: none;
		color: var(--text-color);
		font-size: 15px;
		font-style: normal;
		font-weight: 500;
		line-height: 100%; /* 15px */
		position: relative;
		display: flex;
		align-items: center;
		gap: 5px;
		justify-content: space-between;
	}

	&__link:hover {
		color: var(--main-blue);
	}

	&__button {
		display: none;
		height: 37px;

		@media ('min-width: 768px') {
			display: flex;
		}
	}
}
