.hero {
	padding: 22px 0 50px;

	@media (width >= 768px) {
		padding: 126px 0 23px;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 11px;
	}

	&__title {
		font-size: 34px;
		font-style: normal;
		font-weight: 600;
		line-height: 38px;
		letter-spacing: -0.2px;

		@media (width >= 768px) {
			font-size: 52px;
			margin-bottom: 37px;
		}
	}

	&__subtitle {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; /* 142.857% */
	}

	&__subtitle-desktop {
		display: none;
	}

	&__subtitle-mobile {
		margin-bottom: 21px;
	}

	@media (width >= 768px) {
		&__subtitle-mobile {
			display: none;
		}

		&__subtitle-desktop {
			display: block;
			margin-top: 20px;
		}
	}
}

.book-slider {
	overflow-x: scroll;
	padding-bottom: 16px;

	@media (width >= 768px) {
		padding-bottom: 80px;
	}

	&::-webkit-scrollbar {
		position: absolute;
		height: 5px;
		width: 100%;
	}

	&::-webkit-scrollbar-track {
		background: #ececf3;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--main-blue);
		border-radius: 10px;
		position: absolute;
	}

	&__img {
		max-width: none;
		max-height: 329px;
		object-fit: cover;

		@media (width >= 768px) {
			width: 100%;
			max-height: 330px;
		}
	}
}
