.slider {
	padding: 30px 0 66px;
	&__wrapper {
		position: relative;
	}
	&__heading {
		margin-bottom: 19px;
	}
}

.card {
	color: var(--text-color);
	text-decoration: none;
	width: 100%;
	display: flex;
	flex-direction: column;
	max-width: 280px;
	gap: 12px;
	margin: 0 auto;

	&__img {
		border-radius: 23px;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 7px;
	}

	&__date {
		color: #777;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px; /* 133.333% */
		letter-spacing: 0.24px;
	}

	&__title {
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 22px; /* 137.5% */
		max-width: 80%;
	}
}

.swiper-pagination {
	align-items: center;
	display: flex !important;
	justify-content: center;
	align-content: center;
	gap: 20px;
	bottom: -36px !important;

	&-bullet {
		margin: 0 !important;
		width: 10px !important;
		height: 10px !important;
		background-color: #ececf3 !important;
	}

	&-bullet-active {
		width: 15px !important;
		height: 15px !important;
		background-color: var(--main-blue) !important;
	}
}
