.slider {
	padding: 30px 0 66px;

	@media (width >= 767px) {
		padding: 60px 0 101px;
	}

	&__wrapper {
		position: relative;
	}

	&__heading {
		margin-bottom: 19px;

		@media (width >= 786px) {
			margin-bottom: 32px;
		}
	}

	&__container {
		padding: 0;

		@media (width >= 786px) {
			padding: 0 13.96vw;
		}
	}
}

.card {
	color: var(--text-color);
	text-decoration: none;
	width: 100%;
	display: flex;
	flex-direction: column;
	max-width: 280px;
	gap: 12px;
	margin: 0 auto;

	@media (width >= 768px) {
		max-width: 226px;
	}

	&__img {
		border-radius: 23px;
		transition: box-shadow 0.2s ease;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 7px;
	}

	&__date {
		color: #777;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px; /* 133.333% */
		letter-spacing: 0.24px;
	}

	&__title {
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 22px; /* 137.5% */
		max-width: 80%;
	}

	&:hover > &__img {
		box-shadow: 0 18px 60px 0 rgb(0 0 0 / 25%);
	}
}

.swiper-pagination {
	align-items: center;
	display: flex !important;
	justify-content: center;
	align-content: center;
	gap: 20px;
	bottom: -36px !important;

	&-bullet {
		margin: 0 !important;
		width: 10px !important;
		height: 10px !important;
		background-color: #ececf3 !important;
	}

	&-bullet-active {
		width: 15px !important;
		height: 15px !important;
		background-color: var(--main-blue) !important;
	}
}
